@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-main: #311b65;
  --color-main-dark: #380654;

  --color-custom: #ededed;
  --color-custom-nav: #fff;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1[data-title] {
  font-size: 2.5rem;
  font-weight: 800;
}

p[data-description] {
  font-size: 1.2rem;
  color: #555;
}

figure[data-head-media] {
  margin: 20px 0;
}
